{% extends 'base.html.twig' %}

{% block title %}Edit question{% endblock %}

{% block body %}
    {{ include('question/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('question_index') }}">back to list</a>

    <hr>

    {{ include('question/_delete_form.html.twig') }}
{% endblock %}