{% extends 'base.html.twig' %}

{% block title %}Create new Question{% endblock %}

{% block body %}
    {{ include('question/_form.html.twig') }}

    <a href="{{ path('question_index') }}">back to list</a>
{% endblock %}